.aws/*
.cache/*
.config/*
.docker/*
.dbus/*
.ecr/*
.gem/*
.gradle/*
.hishtory/*
.ipython/*
.java/*
.jenv/*
.jenv
.keychain/*
.landscape/*
.local/*
.m2/*
.npm/*
.serverless/*
.ssh/*
.terraform.d/*
.virtualenvs/*
.vscode-server/*
.vscode-remote-containers/*
.siege/*
.sts4/*
.tbmk/*
.tenv/*
.sigstore/*
.vim/*
.atuin/*
credentials/*
git-repos/*
terraforming/*
tmp/*
tbmk-*-linux/
tbmk/*
.bash_history
.bash_logout
.bash_profile
.docker-*.sh
.gitconfig*
.motd_shown
.npmrc
.profile
.python_history
.sudo_as_admin_successful
.vault-token
.viminfo
.wget-hsts
.lesshst
.node_repl_history
.serverlessrc
.git-credentials
.zshrc
.dotnet
.java-version
.bash-preexec.sh
*.swp
